name: Hello world

on:
  push:
    branches: [ main ]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello world jobs
        run: |
          echo "Hello world"
          date
          ls -la